/*-- --- VARIABLES --- --*/
:root {
    --primary-color: #222831;
    --secondary-color: #393E46;
    --font-color: #fff;
    --accent-color: #FFD369;

    --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/*-- --- GLOBAL --- --*/
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
body {
    height: 100vh;
    margin: 0;
    background: var(--primary-color);
    font-family: Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: var(--font-color);
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
h1 {
    font-weight: inherit;
    font-size: 4rem;
    margin: 0;
    margin-bottom: 1rem;
}
h3 {
    text-align: center;
}
strong {
    color: var(--accent-color);
}

/*-- --- SECTION MAIN --- --*/

main {
    
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

main .text-main {
    margin: 0 2rem;
}
main .text-main p {
    line-height: 26px;
    text-align: justify;
    margin: 0;
}
main .text-main p a {
    color: var(--accent-color);
    text-decoration: underline;
    transition: color 100ms ease-in;
}
main .text-main p a:hover {
    color: var(--font-color);
}

main .projects-main {
    display: flex;
    align-items: center;
    overflow: scroll;
    height: 60vh;
    padding: 0 2rem;
}
main .projects-main::-webkit-scrollbar {
    width: 0;
}
main .projects-main .card-main {
    height: 50vh;
    min-width: 12rem;
    margin-right: 2rem;
    border-radius: .5rem;
    background: var(--secondary-color);
    box-shadow: var(--box-shadow);

    text-align: center;
    padding: 2rem;
    padding-bottom: 0;
    box-sizing: border-box;
}
main .projects-main .card-main:last-child {
    margin-right: 0;
}

main .links-main {
    width: 50%;
    padding: 0 2rem;
    position: absolute;
    bottom: 2rem;
    left: 25%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
}
main .links-main a {
    color: var(--secondary-color);
    margin: 0 1rem;
}
main .links-main i {
    color: var(--secondary-color);
    transition: color 150ms ease-in;
}
main .links-main i:hover {
    color: var(--accent-color);
}